.navLinkActive {
  border: 1px solid white;
  color: white;
}
.hrNav {
  border: 3px solid white;
  margin-bottom: 5%;
}
.foot {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  color: white;
  text-align: center;
}
